/*
	Ethan Turkeltaub
		file: css/application.css
*/
/* line 17, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
	= Appendix
		I. Media Queries
		II.
*/
/*
	I. Media Queries
*/
@media handheld, only screen and (max-width: 767px) {
  /* Handheld devices. */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* iPhone 4 */
}
/*
	II. Universal
*/
/* line 36, src/application.scss */
body {
  color: #333333;
  font: 14px/1.75em "franklin-gothic-urw", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* line 41, src/application.scss */
a {
  color: #f36666;
  text-decoration: none;
}
/* line 45, src/application.scss */
a:hover {
  color: #ef3737;
}

/* line 50, src/application.scss */
figure {
  margin: 1.75em 0;
}
/* line 53, src/application.scss */
figure img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
  padding: 1%;
  max-width: 98%;
}
/* line 61, src/application.scss */
figure figcaption {
  color: #ccc;
  font-style: italic;
}

/* line 67, src/application.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

/* line 71, src/application.scss */
h1 {
  font-size: 1.75em;
}

/* line 75, src/application.scss */
h2 {
  font-size: 1.75em;
}

/* line 79, src/application.scss */
h3 {
  font-size: 1.35em;
}

/* line 84, src/application.scss */
p + p {
  margin-top: 1.75em;
}

/* line 89, src/application.scss */
#contain {
  margin: 4em auto;
}

/*
	III. Header
*/
/* line 98, src/application.scss */
#contain > header {
  *zoom: 1;
  max-width: 53em;
  _width: 53em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px solid #e0e0e0;
  padding: 0;
  margin-bottom: 4em;
}
/* line 38, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#contain > header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 105, src/application.scss */
#contain > header hgroup {
  width: 49.057%;
  float: left;
  margin-right: 1.887%;
  display: inline;
}
/* line 109, src/application.scss */
#contain > header nav {
  width: 49.057%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 112, src/application.scss */
#contain > header nav ul {
  margin-bottom: 1.9em;
  float: right;
}
/* line 117, src/application.scss */
#contain > header nav ul li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #f36666;
  color: #fff;
  padding: 0.45em;
}
/* line 124, src/application.scss */
#contain > header nav ul li a:hover {
  background: #ef3737;
}

/*
	IV. Main
*/
/* line 140, src/application.scss */
#main.home article {
  *zoom: 1;
  max-width: 53em;
  _width: 53em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding: 0;
}
/* line 38, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#main.home article:after {
  content: "";
  display: table;
  clear: both;
}
/* line 145, src/application.scss */
#main.home article + article {
  border-top: 1px solid #f0f0f0;
  margin-top: 4em;
  padding-top: 4em;
}
/* line 151, src/application.scss */
#main.home article aside {
  width: 23.585%;
  float: left;
  margin-right: 1.887%;
  display: inline;
}
/* line 154, src/application.scss */
#main.home article aside h2 {
  margin-bottom: 1em;
}
/* line 159, src/application.scss */
#main.home article section {
  width: 74.528%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 166, src/application.scss */
#main.information section#bio {
  *zoom: 1;
  max-width: 53em;
  _width: 53em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 2em;
  padding-bottom: 2em;
}
/* line 38, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#main.information section#bio:after {
  content: "";
  display: table;
  clear: both;
}
/* line 173, src/application.scss */
#main.information section#bio aside {
  width: 32.075%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 177, src/application.scss */
#main.information section#bio section {
  width: 66.038%;
  float: left;
  margin-right: 1.887%;
  display: inline;
}
/* line 180, src/application.scss */
#main.information section#bio section h2 {
  margin-bottom: 1em;
}
/* line 186, src/application.scss */
#main.information section#other {
  *zoom: 1;
  max-width: 53em;
  _width: 53em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#main.information section#other:after {
  content: "";
  display: table;
  clear: both;
}
/* line 189, src/application.scss */
#main.information section#other section {
  width: 32.075%;
  float: left;
  margin-right: 1.887%;
  display: inline;
}
/* line 192, src/application.scss */
#main.information section#other section.colophon {
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

/*
	V. Footer
*/
/* line 205, src/application.scss */
#contain > footer {
  *zoom: 1;
  max-width: 53em;
  _width: 53em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  border-top: 1px solid #e0e0e0;
  margin-top: 6em;
  padding: 2em 0;
}
/* line 38, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#contain > footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 212, src/application.scss */
#contain > footer aside {
  width: 23.585%;
  float: left;
  margin-right: 1.887%;
  display: inline;
}
/* line 216, src/application.scss */
#contain > footer section {
  width: 74.528%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
