/*
	Ethan Turkeltaub
		file: css/application.css
*/
/* line 17, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
	= Appendix
		I. Media Queries
		II.
*/
/*
	I. Media Queries
*/
@media handheld, only screen and (max-width: 767px) {
  /* Handheld devices. */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* iPhone 4 */
}
/*
	II. Universal
*/
/* line 36, src/application.scss */
body {
  color: #333333;
  font: 14px/1.75em "franklin-gothic-urw", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* line 41, src/application.scss */
a {
  color: #f36666;
  text-decoration: none;
}
/* line 45, src/application.scss */
a:hover {
  color: #ef3737;
}

/*
	III. Header
*/
/* line 55, src/application.scss */
#contain > header {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#contain > header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 58, src/application.scss */
#contain > header hgroup {
  width: 49.153%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}
/* line 62, src/application.scss */
#contain > header nav {
  width: 49.153%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

/*
	IV. Main
*/
/* line 73, src/application.scss */
#main article {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#main article:after {
  content: "";
  display: table;
  clear: both;
}
/* line 76, src/application.scss */
#main article aside {
  width: 23.729%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}
/* line 80, src/application.scss */
#main article section {
  width: 74.576%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

/*
	V. Footer
*/
/* line 91, src/application.scss */
#contain > footer {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, ../../../../home/ethan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#contain > footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 94, src/application.scss */
#contain > footer aside {
  width: 23.729%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}
/* line 98, src/application.scss */
#contain > footer section {
  width: 74.576%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
